.backgraund-head{
  background:no-repeat;
  background-size:100% 100%;
}

.nav-click{
  text-align: center;
  padding-top: 60px;
  font-family: days sans black;
  font-size: 36px;
}

.head{
  display: flex;
}

.info{
    width: 50%;
    padding-left: 10%;
    padding-top: 100px;
    background:no-repeat;
    background-image:url(/img/yellow.png);
    background-size: 100% 100%;
}

.slider-card{
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.video {
  text-align: center;
  margin-bottom: 20px;
}



  .head-main {
    text-align: center;
    font-family: Days Sans Black;
    font-weight: 400px;
    font-size: 48px;
    line-height: 55px;
    color: black;
    margin-bottom: 100px;
  }

  .cor {
   display: flex;
   justify-content: space-around;
   margin-bottom: 40px;
  }
  .card{
    display: flex;
    justify-content: center;
}
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    max-width: 700px;
    border-radius: 11px;
  }

  .text-card {
    font-family: Anonymous Pro;
    font-size: 400;
    font-size: 24px;
    Line-height: 24px;
  }

.circle {
    position: relative;/*относительное позиционирование*/
    width: 250px;/*ширина круга*/
    height: 250px;/*высота круга*/
    border-radius: 50%;/*скругление углов*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}

.logo{
  top: 30px;
    position: absolute;/*абсолютное позиционирование*/
    width: 200px;
    height: 250px;     background: url(/img/logo.png);/*изображение*/
    background-size: cover;/*картинка пропорционально растянута на весь блок*/
    border-radius: 50%;
    z-index: 1;
}

.text {
    color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    animation: animate 25s linear infinite;/*свойства анимации*/
  }



p {
    margin: 0;
}
p span {
    position: absolute;
    left: 50%;/*позиция слева*/
    font-family: Anonymous Pro;
    font-size: 26px;
    line-height: 46px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;/*большие буквы*/
    transform-origin: 0 125px;/*точка исхода трансформации*/
}

  @keyframes animate {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
  }

@media (max-width: 1500px){
    .head {
flex-direction: column;
gap: 100px;
    }
    .info{
      width: 100%;
      padding-top: 63px;
  }
  .slider-card{
      width: 100%;
  }
  .cor {
    padding-left: 0;
   }
   .card {
    padding-left: 0;
   }
   .head{
    gap:0px;
   }
.video{
  margin-bottom: 100px;
}
}


.zap{
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
  gap: 20px;
}

.zap-main{
  font-family: days-sans-black;
  font-size: 48px;
  margin-bottom: 100px;
}

.button-zapp{
  display: inline-block;
  padding: 18px 50px;
  background-color:#000000;
  border-radius: 25px;
  border: 3px solid white;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;

}

.zap-button-black {
  padding: 15px 20px;
  font-size: 20px;
}

.button-zapp:hover{
color:orange;
background-color:aliceblue;
}

.zap-button{
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}
.button-black{
  font-family: Roboto;
  padding: 10px 40px ;
  font-weight: 400;
  border-radius:100px;
  font-size: 36px;
  color:white;
  background-color:black;
  transition: 1s color;
}

.button-black:hover{
  background-color:orange;
}

.button-orange{
  font-family: Roboto;
  border-radius:100px;
  font-size: 20px;
  border:solid 1px black;
  color:black;
  padding: 10px 30px ;
  transition: 1s;
}

.button-orange:hover{
  background-color:orange;
}


.slider {
  width: 450px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  border: 2px solid orange;
  border-radius: 10px;
}
.slider__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 50px;
  height: 50px;
  
  z-index: 1;
}

.slider__control--prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.slider__control--next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.slider__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  left: 0;
/*   transition: left 0.7s; */
}
.slider__item {
  width: 450px;
  height: 100%;
   
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.82); 
}

.slider__item:nth-child(1) {
  background-image: url(/img/foto2.png);
  background-size: 100% 100%;
}
.slider__item:nth-child(2) {
  background-image: url(/img/foto3.png);
  background-size: 100% 100%;
}
.slider__item:nth-child(3) {
  background-image: url(/img/foto4.png);
  background-size: 100% 100%;
}
.slider__item:nth-child(4) {
  background-image: url(/img/foto5.png);
  background-size: 100% 100%;
}
.slider__item:nth-child(5) {
  background-image: url(/img/foto6.png);
  background-size: 100% 100%;
}