.video-ifame{
    width: 650px;
    height: 350px;
}

@media (max-width: 900px){
.container{
    padding-left: 10px;
    padding-right: 10px;
}
.main-text{
    font-size: 36px;
    line-height: 50px;
    width: 330px;
}
.slogan{
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 30px;
    width: 330px;
}
.info{
    padding-left: 0px;
    background-size:100% 100% contain;
}
.slider-card{
    padding-top: 50px;
    padding-bottom: 0px;
}
.video{
    margin-bottom: 30px;
}

.card-wrapper{
    padding:10px;
    text-align: center;
}
.center{
    height: 450px;
}

.button-zapp {
    font-size:26px;
    padding:15px 30px;
}

.zap-button-black {
font-size: 15px;}


.video-ifame{
    width: 80%;
    height: 300px;
}
.slider{
    max-width: 300px;
    height: 450px;
}
.slider__item{
    width: 300px;

}

.price-card{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.usluga{
font-size: 15px;
max-width: 220px;
line-height: 20px;
}
.price{
    font-size:15px;
}
.dop-price{
    padding-top: 20px;
}

.sertification{
    padding-bottom: 30px;
    padding-top: 50px;
}
.sertification-main {
width: 100%;
text-align: center;
}
.card_1 {
    background: url(/img/check_2.png) 0% 0% / 100% 920px no-repeat;
}
.card_2 {
    background: url(/img/check_1.png) 0% 0% / 100% 920px no-repeat;
}
.card_3 {
    background: url(/img/check3.png) 0% 0% / 100% 920px no-repeat;
}
.footer-wrapper {
    padding: 10px;
}}