.background-price{
    background:no-repeat;
    background-image:url(/img/Fone-price.png);
    background-size: 100% 105%;
}

.uslugi-price{
    padding-top: 100px;
    height: 100%;
    width: 100%;
}

.price-main{
    color:black;
    margin-bottom: 0px;
    
}
.price-wrapper{
    display: flex;
    justify-content: space-around;

}
.price-card{
    width: 440px;
    height: 950px;
    padding-top: 20px;
    padding: 40px;
    padding-top: 200px;
}

.card_1{
    background:no-repeat;
    background-image: url(/img/check_2.png);
    background-size: 440px 920px;}

.card_2{
    background:no-repeat;
    background-image: url(/img/check_1.png);
    background-size: 440px 920px;
}


.card_3{
    background:no-repeat;
    background-image: url(/img/check3.png);
    background-size: 440px 920px;
}

.price-cur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Относительное позиционирование */
}

.price-cur:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute;
    left: 100px; right:0x; bottom: -80px; /* Положение подсказки */
    z-index: 1; 
    background-color: black;
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 16px; /* Размер текста подсказки */
    padding: 20px 10px; /* Поля */
    border: 1px solid #333;
    border-radius: 11px;
    width: 60%;
}
.wrapper-cur{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap:11px;
    padding-bottom: 10px;
}

.uslugi{
    text-align: center;
    font-family: Anonymous Pro;
    font-weight: 700;
    color: black;
    font-size: 36px;
    line-height: 36px;
    margin-bottom:50px;
}

.usluga{
    font-family: Roboto;
    font-weight: 400;
    color: black;
    font-size: 16px;
    line-height: 32px;
    max-width: 270px;
}

.price {
    font-family: Roboto;
    font-weight: 700;
    color: black;
    font-size: 16px;
    line-height: 32px;
}

.dop-price{
    padding-top: 40px;
}

.red{
    color: red;
}


@media (max-width: 1250px){
    .background-price{
        background:no-repeat;
        background-image:url(/img/fone-price-mobile.png);
        background-size: 100% 103%;}
    .price-wrapper{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
}
